a {
	color: var(--info);
	&:hover {
		color: #319795;
	}
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;

  &::before, &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #d9d9d9;
  }

  &::before {
    margin-right: 1em;
  }

  &::after {
    margin-left: 1em;
  }
}

.topic-badge {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
  }
}